<!DOCTYPE html>
<html>
<head>
	<title> Ancon </title>
	<!-- <link rel="stylesheet" type="text/css" href="base.css"/> -->
	<script src="base.js"></script>
</head>
<body>
	
	<div hidden>
		<p id="usernameForOtherScriptFiles"></p>
		<p id="passwordForOtherScriptFiles"></p>
	</div>

	<div id="login">
		<input id="username" type="password">
		<input id="password" type="password">
		<input id="firstLogIn" type="button">
	</div>
	<div id="BOARDS">
			
	</div>
	<div id="MESSAGES">
		
	</div>
	
</body>
</html>