
<p hidden id="boardForOtherScriptFiles"></p>

<select id="monthsId" >
	<option> select date </option>
</select>
<select id="daysId" hidden>
</select>

<div>

	<% for(let i = 0; i < boards.length; i++) { %>

	<button class="boardButton"> <%= boards[i] %> </button>
	<br/>

	<% } %>

</div>
<br>
<div id="postDiv" hidden>
	
	<input id="postTitle" type="text">
	<br>
	<textarea id="postBody" rows="4" cols="50"></textarea>
	<br>
	<button id="postButton"> post </button>
	<br>
	<hr>
</div>

<style>
	.loader {
		border: 16px solid #f3f3f3;
		border-radius: 50%;
		border-top: 16px solid blue;
		border-right: 16px solid green;
		border-bottom: 16px solid red;
		border-left: 16px solid pink;
		width: 120px;
		height: 120px;
		-webkit-animation: spin 2s linear infinite;
		animation: spin 2s linear infinite;
	}

	@-webkit-keyframes spin {
		0% { -webkit-transform: rotate(0deg); }
		100% { -webkit-transform: rotate(360deg); }
	}

	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}

</style>

<div id="loading"></div>