<!DOCTYPE html>
<html>
<head>
	<title>test page</title>
</head>
<body>
	
	<br>
	
	<div id="newBody">
		<center>
			<button id="testButton"> TEST </button>
		</center>
	</div>

	<script src="home.js"></script>
</body>
</html>