<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel = "stylesheet" type = "text/css" href = "defult.css" />
</head>
<body>

	<div id="navbar">

	</div>

	<div class="dot">
		
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<input type="password" id="username">
		<br>
		<br>
		<input type="password" id="password">

	</div>

	<!-- JS -->
	<script src="defult.js"></script>
</body>
</html>