
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel = "stylesheet" type = "text/css" href = "login.css" />
</head>
<body>
	
	<div id="page">

		<div class="dot">
			
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<input type="password" id="username">
			<br>
			<br>
			<input type="password" id="password">

		</div>
	
	</div>

	<!-- JS -->
	<script src="login.js"></script>
</body>
</html>
